html, body {
    margin: 0;
    height: 100%;
    background-color: beige;
}

/* .container {
    background-color: antiquewhite;
    padding: 15px;
    padding-top: 100px;
    margin: 0;
    min-width: 627px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
} */

/* PROGRESS BAR */

#progressContainer {
    margin: 0;
    height: 10px;
    width: 100%;
    background-color: aliceblue;
}

#progress {
    width: 0%;
    height: 100%;
    float: left;
    background-color: aquamarine;
    transition: width 0.2s linear;
}



.extra {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.reader {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 100%;
    padding: 15px 0px 15px 0px;
    text-align: center;
    border-radius: 3px;
}

#readDisplay {
    margin: 0px;
}

#optionsShow {
    width: 100%;
    color: slategray;
    text-align: center;
    background-color: aliceblue;
    border-radius: 15px;
    /* border-style: dashed; */
    border-color: #f0f8ff;
}

.options {
    width: 627px;
    display: flex;
    flex-flow: row wrap;
}

.selector {
    max-width: fit-content;
    flex: auto;
    background-color: antiquewhite;
    margin: 4px;
    padding: 5px;
    border: solid 2px;
    border-radius: 10px;
    border-color: lightgray;
}

.selector .name {
    text-align: center;
    background-color: #f0f8ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3px;
    width: 100%;
    /* border: inherit; */
    border-radius: inherit;
}

.selector input {
    margin-left: 0%;
    width: 70px;
    text-align: center;
    background-color: aliceblue;
    border: inherit;
    border-radius: inherit;
}

.selector input[type=color]{
    width: 100px;
    border: inherit;
    border-radius: 15px;
}

.selector input::-webkit-outer-spin-button, .selector input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.selector button {
    border-color: inherit;
    border-radius: inherit;
    min-width: 25px;
}